body {
    text-align: center;
    background-color: #0b1011;
}

html, body {
    height: 99%;
}
.main {
    height: 100%;
    width: 100%;
    display: table;
}
.gameWrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}
.titleWrapper {
    margin-bottom: 25px;
}

#appStore {
    display: 'none';
}

#cover {
    background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #0b1011;
    position: absolute;
    height: 99%;
    width: 99%;
}

#canvasHolder {
    display: '';
}